.sidebar {
    background: var(--gray-800);
    border-radius: 0.5rem;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.profile {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
    font-weight: bold;
    color: var(--gray-100);
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

.profile span {
    font-size: 0.875rem;
    color: var(--gray-600);
}

.avatar {
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border: 4px solid var(--gray-600);
    box-shadow: 0 0 0 2px var(--green-500);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
    background: transparent;
    text-decoration: none;
    color: var(--green-500);
    padding: 0 1.5rem;
    border: 1px solid var(--green-500);
    border-radius: 0.25rem;
    height: 50px;
    font-weight: bold;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}